:root {
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --badge-text-color: hsl(0, 0%, 57%);
    --stroke-color: hsl(0, 0%, 57%);
    --frame-color: hsl(24, 15%, 94%);
    --small-text: hsl(0, 0%, 44%);
}

 body {
    font-family: "Karla", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

header {
    background: var(--text-color);
    color: var(--bg-color);
    padding: 2rem;
    /* width: 1440px; */

    display: flex;
    justify-content: space-between;
}

header .logo {
    width: auto;
    font-size: 3rem;
    font-weight: 500;
}

h1 {
    font-size: 3rem;
    letter-spacing: 100px;
    text-transform: uppercase;
    margin: 0 1rem;
    text-align: center;
}

header p {
    text-align: right;
}

/* library style */

.bookshelf {
    padding: 2.25rem;
    display: grid;
    gap: 4rem 2rem;
    grid-template-columns: repeat(4, minmax(316px, 1fr));
}

.book-entry {
    position: relative;
    min-height: 576px; 
    display: grid;
    grid-template-rows: 474px 1fr; /* not ideal */
    gap: 1rem;
}

.book-entry .readStatus {
    position: absolute;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--stroke-color);
    border-radius: 0.25rem;
    background-color: var(--bg-color);
    color: var(--badge-text-color);
    display: flex;
    align-self: start;
    justify-self: center;
    top: 1rem;
}

.completed {
    --badge-text-color: #12664F;
    --stroke-color: #12664F;
    border-radius: .5rem !important;
}

.completed::before {
    content: '';
    display: inline-block;
    width: 1rem; 
    height: 1rem; 
    margin-top: 4px;
    margin-right: .25rem;
    background: #12664F;
    mask: url('assets/check.svg') no-repeat center !important;
    -webkit-mask: url('assets/check.svg') no-repeat center !important;
    mask-size: cover;
    -webkit-mask-size: cover;
}

.completed:hover {
    --bg-color: #12664F;
    --badge-text-color: #ffffff;
    background-color: var(--bg-color);
}

.completed:hover::before {
    content: '';
    display: inline-block;
    width: 1rem; 
    height: 1rem; 
    margin-top: 4px;
    margin-right: .25rem;
    background: #ffffff;
    mask: url('assets/check.svg') no-repeat center !important;
    -webkit-mask: url('assets/check.svg') no-repeat center !important;
    mask-size: cover;
    -webkit-mask-size: cover;
}


.book-entry .frame {
    background-color: var(--frame-color);
    border-radius: .5rem;
    display: flex;
    padding: 4rem 3rem ;
}

.frame .picture {
    background-color: hsla(220, 45%, 60%, 0.5);
    flex: 1;
}

.book-entry .bookinfo {
    display: grid;
}

.bookinfo .secondary-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.secondary-info > * {
    color: var(--small-text);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.secondary-info .pages {
    text-align: right;
}

.bookinfo .primary-info {
    display: grid;
    align-content: space-between;
}

.primary-info h3 {
    font-size: 1.25rem;
    font-weight: 800;
}

.primary-info p {
    color: var(--small-text);
    font-size: 0.75rem;
}