:root {
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --badge-text-color: hsl(0, 0%, 57%);
    --stroke-color: hsl(0, 0%, 57%);
    --frame-color: hsl(24, 15%, 94%);
    --small-text: hsl(0, 0%, 44%);
    --success-color: hsl(164, 70%, 24%);
    --danger-color: hsl(352, 93%, 53%);
}

body {
    position: relative;
    font-family: "Karla", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: sticky; /* later! */
    background: var(--text-color);
    color: var(--bg-color);
    padding: 2rem;
    /* width: 1440px; */

    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

header .logo {
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    gap: .5rem;
    flex: 0;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.letters {
    justify-self: start;
    font-size: 3rem;
    font-weight: 700;
    flex: 1;
    letter-spacing: 4px;
}

.logo .divider:nth-child(1) {
    transform-origin: bottom;
    /* transform: scaleY(60%) */
}

.logo .divider:nth-child(3) {

    transform-origin: bottom;
    /* transform: scaleY(90%) */
}

.divider {
    background-color: var(--bg-color);
    width: 0.45rem;
}

button.new-book {
    font-size: 1.5rem;
    font-weight: 800;
    background-color: var(--text-color);
    color: var(--bg-color);
    border: 0.45rem solid var(--bg-color);
    flex: 1;
    max-width: 16rem;

    /* transition: all 0.3s ease-in; */
}

button.new-book:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* library style */

.bookshelf {
    padding: 2.25rem;
    display: grid;
    gap: 4rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
}

.book-entry {
    position: relative;
    min-height: 576px; /* ? */
    display: grid;
    grid-template-rows: 474px 1fr;
    /* not ideal */
    gap: 1rem;
}

.book-ui {
    position: absolute;
    top: 1rem;
    padding: 0 3rem 0 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-ui .status-ui {
    display: flex;
    gap: .5rem
}

.deleteBook, .changeStatus {
    background-color: var(--bg-color);
    padding: .25rem;
    border: 1px solid var(--stroke-color);
    border-radius: 0.25rem;
}

.deleteBook > svg, .changeStatus > svg {
    width: 1.5rem;
    height: 1.5rem;
}

.deleteBook:hover , .changeStatus:hover {
    background: var(--danger-color);
    fill: var(--bg-color);
    border: var(--text-color);
}

.book-entry .readStatus {
    /* position: absolute; */
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--stroke-color);
    border-radius: 0.25rem;
    background-color: var(--bg-color);
    color: var(--badge-text-color);
    display: flex;
    align-self: start;
    justify-self: center;
    /* top: 1rem; */
}

.completed {
    --badge-text-color: var(--success-color);
    --stroke-color: var(--success-color);
    border-radius: .5rem !important;
}

.completed::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: 4px;
    margin-right: .25rem;
    background: var(--success-color);
    mask: url('assets/check.svg') no-repeat center !important;
    -webkit-mask: url('assets/check.svg') no-repeat center !important;
    mask-size: cover;
    -webkit-mask-size: cover;
}

.completed:hover {
    --bg-color: var(--success-color);
    --badge-text-color: #ffffff;
    background-color: var(--bg-color);
}

.completed:hover::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: 4px;
    margin-right: .25rem;
    background: #ffffff;
    mask: url('assets/check.svg') no-repeat center !important;
    -webkit-mask: url('assets/check.svg') no-repeat center !important;
    mask-size: cover;
    -webkit-mask-size: cover;
}


.book-entry .frame {
    background-color: var(--frame-color);
    border-radius: .5rem;
    display: flex;
    padding: 4rem 3rem;
}

.frame .picture {
    background-color: hsla(220, 45%, 60%, 0.5);
    flex: 1;
}

.book-entry .bookinfo {
    display: grid;
}

.bookinfo .secondary-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.secondary-info>* {
    color: var(--small-text);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.secondary-info .pages {
    text-align: right;
}

.bookinfo .primary-info {
    display: grid;
    align-content: space-between;
}

.primary-info h3 {
    font-size: 1.25rem;
    font-weight: 800;
}

.primary-info p {
    color: var(--small-text);
    font-size: 0.75rem;
}

/* modal */

dialog {
    position: relative;
    margin: auto auto;
    width: 24rem;
}

dialog::backdrop {
    background-color: var(--text-color);
    opacity: .4;
}

dialog #close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#close svg {
    width: 2rem;
}

dialog form {
    display: grid;
    gap: 1rem;
}

form label {
        color: var(--small-text);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form div {
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: .25rem;
}

form div:nth-child(6) {
    flex-direction: row;
    gap: .5rem;
}

form div input {
    border: 1px solid var(--stroke-color);
    border-radius: .25rem;
    padding: .25rem .5rem;
}

form div > input[type="checkbox"] {
    accent-color: var(--text-color);
    width: 1rem;    
}

form #add {
    font-size: 1.25rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    padding: .5rem 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.message {
    background-color: var(--success-color);
    color: var(--bg-color);
    padding: 2rem;
    margin: 2rem 2rem 0 2rem;

    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.message .pseudo-icon {
    background-color: var(--bg-color);
    width: 2rem;
    height: 2rem;
    mask: url('assets/book-open-variant.svg') no-repeat center !important;
    -webkit-mask: url('assets/book-open-variant.svg') no-repeat center !important;
    mask-size: cover;
    -webkit-mask-size: cover;
    margin-bottom: .25rem;
}

.message.fadeOut {
    opacity: 1;
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}